@keyframes quickPulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.15, 1.15, 1.15) rotate(10deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.grid.theme-default .cell[data-event-name="AttackEvent"] {
    animation-name: quickPulse;
    animation-duration: .10s;
}

.grid.theme-default .cell > div[data-is-dead="true"] {
    transition: .5s all;
    opacity: 0;
}
