body {
    padding: 20px;
}

.game-ui-container {
    overflow: visible;
    border: solid 1px #ddd;
}

.grid-scroll {
    float: left;
}

.sidebar {
    float: left;
}

.backlog {
    position: fixed;
    right: 0;
    font-size: 14px;
    padding: 0;
}

.backlog > li {
    font-weight: bold;
    list-style-type: none;
}

.backlog li {
    padding:  0;
}
