body {
    padding: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-ui-container {
    overflow: visible;
    border: solid 1px #ddd;
}

.grid-scroll {
    display: inline-block;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
