.theme-default .abilities-buttons {
    * {
        box-sizing: border-box;
    }

    position: absolute;
    top: 13em;
    left: 0;
    z-index: 2;

    button {
        display: block;

        padding: .5em;

        border: solid 1px #642;
        border-radius: .5em;

        + button {
            margin-top: 1em;
        }

        &[data-targetting="true"] {
            background-color: royalblue;
        }

        .inner {
            position: relative;
            border: solid 1px #642;
            border-radius: .3em;
            width: 6em;
            height: 6em;
            background-image: url(../images/small/ThisIsAThing.png);
            background-color: black;
            background-size: 90%;
            background-position-x: center;
            background-position-y: .6em;
            background-repeat: no-repeat;
        }

        .name {
            position: absolute;
            top: .1em;
            left: .1em;
            display: block;
            color: white;
            font-weight: bold;
        }

        .cost {
            position: absolute;
            bottom: .1em;
            right: .1em;
            display: block;
            color: cornflowerblue;
            font-weight: bold;
        }

        .hotkey {
            position: absolute;
            bottom: .1em;
            left: .1em;
            display: block;
            color: #777;
        }
    }
}
