.theme-default .abilities {
    button {
        display: block;
        .hotkey {
            color: #777;
        }
        &[data-targetting="true"] {
            background-color: red;
        }
    }
}
