.theme-default dialog.character-builder {
    $darkbrown: #774400;
    $margin: .5em;
    $border: solid 1px $darkbrown;

    padding: 1em;
    margin: auto;
    color: $darkbrown;
    background-color: tan;
    border: $border;

    width: 100%;
    max-width: 800px;
    max-height: 100%;

    &::backdrop {
        background-color: rgba(0, 0, 0, .3);
    }

    h2 {
        text-align: center;
        font-size: 2em;
    }

    .select-character {
        text-align: center;

        button > * {
            font-size: 1.5em;
        }

        .prebuilts {
            display: flex;
            margin: 1em 0;
            button + button {
                margin-left: 1em;
            }

            button {
                flex: 1;
                background: linear-gradient(to bottom, $darkbrown 0%, $darkbrown 51%, #662F22 100%);
                color: #FFEEDD;
                padding: .5em;
                border-radius: .25em;
                border: solid 1px #552200;

                &.last-build {
                    background: linear-gradient(to bottom, #336633 0%, #336633 51%, #114411 100%);
                    border: solid 1px #003300;
                }
            }
        }

        hr {
            border-top: $border;
        }

        button.create-build {
            margin-top: 1em;
            background: linear-gradient(to bottom, #DDCC33 0%, #DDCC33 51%, #AA9933 100%);
            color: #AA4400;
            padding: .5em;
            border-radius: .25em;
            border: solid 1px #998822;
            font-weight: bold;
        }
    }

    .builder {
        padding: $margin;
        border: $border;

        .items {
            h3 {
                width: 8em;
            }

            list-style-type: none;
            display: flex;
            flex-wrap: wrap;

            li {
                display: block;
            }

            button, label {
                position: relative;
                display: block;
                margin-left: $margin;
                margin-top: $margin;
                width: 4em;
                height: 4em;
                border: 0;
                background-color: #885533;

                &[data-cost]::after {
                    content: attr(data-cost);
                    color: yellow;
                    font-weight: bold;
                    display: block;
                    position: absolute;
                    top: .2em;
                    left: .2em;
                    text-shadow: 1px 1px 2px black; 
                }
            }

            label.selected {
                box-shadow: 0 0 .3em .2em navy;
            }

            input[type="radio"], input[type="checkbox"] {
                opacity: 0;
                position: absolute;
            }
        }

        .preview {
            border: $border;
            margin-top: $margin;
            padding: $margin;
        }
    }
}
