.theme-default dialog.character-builder {
    $margin: .5em;
    $border: solid 1px #774400;

    padding: 1em;
    margin: auto;
    color: #774400;
    background-color: tan;

    &::backdrop {
        background-color: rgba(0, 0, 0, .3);
    }

    .prebuilts {
        display: flex;
        margin: 1em 0;
        button + button {
            margin-left: $margin;
        }

        .group {
            position: relative;
            border: solid 1px #774400;
            color: #774400;
            padding: $margin;

            > h3 {
                position: absolute;
                background: tan;
                top: -8px;
            }

            + .group {
                margin-left: $margin;
            }
        }
    }

    .builder {
        padding: $margin;
        border: $border;

        .items {
            h3 {
                width: 8em;
            }

            list-style-type: none;
            display: flex;
            flex-wrap: wrap;

            li {
                display: block;
            }

            button, label {
                position: relative;
                display: block;
                margin-left: $margin;
                margin-top: $margin;
                width: 4rem;
                height: 4rem;
            }

            label.selected {
                border: solid 2px blue;
            }

            input[type="radio"], input[type="checkbox"] {
                opacity: 0;
                position: absolute;
            }
        }

        .preview {
            border: $border;
            margin-top: $margin;
            padding: $margin;
        }
    }
}
