.theme-default dialog.character-builder {
    left: 50%;
    top: 50%;
    width: 10em;
    font-size: 2em;
    padding: 1em;
    margin: -5em;
}

.theme-default dialog.character-builder::backdrop {
    background-color: rgba(0, 0, 0, .3);
}

.theme-default dialog.character-builder label {
    display: block;
}

.theme-default dialog.character-builder input[type="radio"] {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.theme-default dialog.character-builder input[type="submit"] {
    margin-top: 1em;
}
