dialog {
    $darkbrown: #774400;
    $margin: .5em;
    $border: solid 1px $darkbrown;

    padding: 1em;
    margin: auto;
    color: $darkbrown;
    background-color: tan;
    border: $border;

    &::backdrop {
        background-color: rgba(0, 0, 0, .3);
    }

    h2 {
        text-align: center;
        font-size: 2em;
    }

    button {
        flex: 1;
        background: linear-gradient(to bottom, $darkbrown 0%, $darkbrown 51%, #662F22 100%);
        color: #FFEEDD;
        padding: .5em;
        border-radius: .25em;
        border: solid 1px #552200;
        font-size: 1.5em;
    }

    button + button {
        margin-left: 1em;
    }

    hr {
        border-top: $border;
    }
}
