@import '_theme-default.colors';

.log-scroll {
    margin-top: 1em;
    flex-basis: 30em;
    flex-grow: 1;
    overflow-y: auto;
    background-color: tan;
    border: solid 1em $dark-red;

    > * {
        padding: .3em;
        font-size: 1.2em;
    }
}
