.grid.theme-default,
.grid.theme-default * {
    box-sizing: border-box;
}

.grid.theme-default .cell .entity {
    background-size: 100%;
}

.grid.theme-default .cell .weapon {
    z-index: 1;
}

.grid.theme-default .cell .creature {
    z-index: 2;
}

.grid.theme-default .cell .creature .stats {
    width: 90%;
    margin: 5%;
}

.grid.theme-default .cell .creature .hp {
    height: 4px;
    background-color: green;
    border: solid 1px darkgreen;
}

.grid.theme-default .cell .creature .action-bar {
    margin-top: -1px;
    height: 4px;
    background: linear-gradient(to bottom, #ed2 0%, #c70 100%);
    border: solid 1px #640;
}

.grid.theme-default .cell[data-tile-type="Tile"] {
    background-image: url(../images/small/DungeonTile.png);
    background-size: 103%;
    background-position: -1px -1px;
}

.grid.theme-default .cell[data-tile-type="WallTile"] {
    background-image: url(../images/small/crummywall.png);
    background-size: 100%;
}

.grid.theme-default .cell [data-creature-name="Fighter"],
.grid.theme-default .cell [data-creature-name="Wizard"] {
    background-image: url(../images/small/HeroFemale.png);
}

.grid.theme-default .cell [data-creature-name="Rogue"] {
    background-image: url(../images/small/Rogue.png);
}

.grid.theme-default .cell [data-creature-name="BlackVoidSphere"] {
    background-image: url(../images/small/BlackVoidSphere.png);
}

.grid.theme-default .cell [data-creature-name="ClunkyNinetiesCellPhone"] {
    background-image: url(../images/small/Chunky90sPhone.png);
}

.grid.theme-default .cell [data-creature-name="ClunkyNinetiesCellPhone"][data-phone-charged="true"] {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 160, 255, .8));
}

.grid.theme-default .cell [data-creature-name="Ent"] {
    background-image: url(../images/small/Ent.png);
}

.grid.theme-default .cell [data-creature-name="Skeleton"] {
    background-image: url(../images/small/SkeletonLight.png);
}

.grid.theme-default .cell [data-creature-name="SlingshotImp"] {
    background-image: url(../images/small/SlingshotImp.png);
}

.grid.theme-default .cell .weapon[data-weapon-name="Stick"] {
    background-image: url(../images/small/Stick.png);
}

.grid.theme-default .cell .weapon[data-weapon-name="Dagger"] {
    background-image: url(../images/small/Dagger.png);
}
