.grid-scroll {
    flex-grow: 1;
    overflow: hidden;
}

.grid {
    border-collapse: collapse;
    position: relative;
    background-color: black;
    font-size: 10px;
    width: 100%;
    margin: auto;

    .row {
        display: flex;
    }

    .cell {
        position: relative;
        width: 5em;
        height: 5em;
        /*border: solid 1px #333;*/
        z-index: 1;

        &:focus {
            border: double 1px red;
            outline: 0;
        }

        > div {
            width: 100%;
            height: 100%;
        }

        &:hover,
        &[data-keyboard-move] {
            z-index: 2;
        }

        &:hover:after,
        &[data-keyboard-move]:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: #555 0px 0px 3px 1px;
        }

        &[data-move="AttackMove"]:hover:after,
        &[data-keyboard-move="AttackMove"]:after {
            box-shadow: firebrick 0px 0px 10px 3px;
        }

        &[data-move="MovementMove"]:hover:after,
        &[data-keyboard-move="MovementMove"]:after {
            box-shadow: #36f 0px 0px 10px 3px;
        }

        &[data-move="UseAbilityMove"]:hover:after,
        &[data-keyboard-move="UseAbilityMove"]:after {
            box-shadow: darkviolet 0px 0px 10px 3px;
        }

        &[data-move="UseItemMove"]:hover:after,
        &[data-keyboard-move="UseItemMove"]:after {
            box-shadow: violet 0px 0px 10px 3px;
        }

        &[data-move="WaitMove"]:hover:after {
            box-shadow: #36f 0px 0px 10px 3px;
        }

        .entity {
            position: absolute;
        }

        &:not([data-visible="true"]) {
            opacity: .5;
        }

        &:not([data-visible="true"]) > .creature {
            display: none;
        }

        &:not([data-explored="true"]) {
        }

        .item {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
