@keyframes shortTwistPulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.15, 1.15, 1.15) rotate(10deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.grid.theme-default .cell {
    &[data-event-name="AttackEvent"] [data-creature-name]{
        animation-name: turn;
        animation-duration: .15s;
    }

    &[data-event-name="HitpointsEvent"][data-is-hp-change-negative="true"] {
        animation-name: shortTwistPulse;
        animation-duration: .10s;
    }

    [data-is-dead="true"] {
        transition: .5s all;
        opacity: 0;
    }
}

.grid.theme-default .projectile {
    position: absolute;
    width: 5em;
    height: 5em;
    z-index: 3;

    &::after {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-image: url(../images/small/Bullet.png);
    }

    &[data-projectile-name="ForceDart"]::after {
        background-image: url(../images/small/ForceDart.png);
    }
}
