.tiny-icon-wrap {
    width: 32px;
    height: 32px;
    > * {
        transform: scale(.32);
        margin: -34px;
    }
}

.sm-icon-wrap {
    width: 50px;
    height: 50px;
    > * {
        transform: scale(.5);
        margin: -25px;
    }
}

.md-icon-wrap {
    width: 70px;
    height: 70px;
    > * {
        transform: scale(.7);
        margin: -15px;
    }
}
