.sm-icon-wrap {
    width: 50px;
    height: 50px;
    > * {
        transform: scale(.5);
        margin: -25px;
    }
}

.theme-default .gitrecht .icon {
    background-size: 100%;

    &[data-item-name],
    &[data-class-name] {
        background-image: url(../images/small/ThisIsAThing.png);
    }

    &[data-item-name="TheTreasure"] {
        background-image: url(../images/small/TheTreasure.png);
    }

    &[data-item-name="None"] {
        background: none;
        &:after {
            content: '❌';
            font-size: 2em;
        }
    }

    /////////////
    // CLASSES //
    /////////////
    &[data-class-name="Fighter"] {
        background-image: url(../images/small/Fighter.png);
    }

    &[data-class-name="Miner"] {
        background-image: url(../images/small/Miner.png);
    }

    &[data-class-name="Rogue"] {
        background-image: url(../images/small/Rogue.png);
    }

    &[data-class-name="Wizard"] {
        background-image: url(../images/small/Wizard.png);
    }

    ///////////
    // ARMOR //
    ///////////
    &[data-item-name="LightArmor"] {
        background-image: url(../images/small/LightArmor.png);
    }

    &[data-item-name="MediumArmor"] {
        background-image: url(../images/small/MediumArmor.png);
    }

    /////////////
    // WEAPONS //
    /////////////
    &[data-item-name="Dagger"] {
        background-image: url(../images/small/Dagger.png);
    }

    &[data-item-name="Longbow"] {
        background-image: url(../images/small/Longbow.png);
    }

    &[data-item-name="Shortbow"] {
        background-image: url(../images/small/Shortbow.png);
    }

    &[data-item-name="Slingshot"] {
        background-image: url(../images/small/Slingshot.png);
    }

    &[data-item-name="Stick"] {
        background-image: url(../images/small/Stick.png);
    }

    &[data-item-name="Warhammer"] {
        background-image: url(../images/small/Warhammer.png);
    }

    /////////////////
    // CONSUMABLES //
    /////////////////
    &[data-item-name="CherrySoda"] {
        background-image: url(../images/small/CherrySoda.png);
    }

    &[data-item-name="BlueberrySoda"] {
        background-image: url(../images/small/BlueberrySoda.png);
    }

    &[data-item-name$="_Consumable"] {
        background-image: url(../images/small/ScrollThisIsAThing.png);
    }

    &[data-item-name="Fireball_Consumable"] {
        background-image: url(../images/small/ScrollFireball.png);
    }

    &[data-item-name="Firebolt_Consumable"] {
        background-image: url(../images/small/ScrollFirebolt.png);
    }

    &[data-item-name="ForceDart_Consumable"] {
        background-image: url(../images/small/ScrollForceDart.png);
    }

    &[data-item-name="LesserSnare_Consumable"] {
        background-image: url(../images/small/ScrollSnare.png);
    }

    ///////////////
    // ABILITIES //
    ///////////////
    &[data-ability-name="Fireball"] {
        background-image: url(../images/small/Fireball.png);
    }

    &[data-ability-name="Firebolt"] {
        background-image: url(../images/small/Firebolt.png);
    }

    &[data-ability-name="ForceDart"] {
        background-image: url(../images/small/ForceDart.png);
    }

    &[data-ability-name="LesserSnare"] {
        background-image: url(../images/small/TangleVine.png);
    }
}
