@import '_theme-default.colors';

.theme-default .inventory {
    list-style: none;
    padding: 0;
    font-size: 12px;

    h3 {
        color: white;
    }

    .subinventory {
        padding: 7px;
        position: relative;
        background-color: $dark-red;
    }

    li.slot {
        height: 3em;

        vertical-align: middle;
        line-height: 1.5em;
        border: solid 1px dark-red;
        background-color: tan;
    }

    li.slot + li.slot {
        margin-top: .5em;
    }

    li.slot.empty {
        color: #999;
        font-style: italicized;
    }
}
