@import '_theme-default.colors';

.theme-default .inventory {
    font-size: 1.2em;
    margin-top: 2em;

    background-image: url(../images/backpack.png);
    background-size: 100%;
    background-repeat: no-repeat;

    list-style: none;
    padding: 3em 4em;

    h3 {
        color: white;
    }

    .subinventory {
        padding: 7px;
        position: relative;
    }

    li.slot {
        * {
            cursor: default;
        }
        position: relative;
        padding: .2em;
        display: flex;
        align-items: center;
        border: solid 1px #963;
        background-color: rgba(210, 180, 140, .85);
        width: 20em;
        // /background-color: tan;

        &:hover {
            border-color: #643;
        }

        + li.slot {
            margin-top: .5em;
        }

        &.empty {
            color: #666;
            font-style: italicized;
            .icon {
                visibility: hidden;
            }
        }

        &[data-is-targetting="true"] {
            background-color: skyblue;
        }

        .icon, .info {
            display: inline-block;
            vertical-align: top;
        }

        .name {
            font-size: 1.2em;
            font-weight: bold;
            display: block;
        }

        .desc {
            font-size: 1em;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            width: 16em;
            overflow: hidden;
        }

        .icon {
            margin-right: .2em;
            width: 3em;
            height: 3em;
            background-size: 100%;
            border: solid 1px #963;
            background-image: url(../images/small/ThisIsAThing.png);
        }

        button.trash {
            position: absolute;
            top: .2em;
            right: .25em;
            font-size: 2.5em;
            line-height: .9em;
            width: 1em;
            height: 1em;
        }

        &[data-item="BlueberrySoda"] .icon {
            background-image: url(../images/small/BlueberrySoda.png);
        }

        &[data-item="CherrySoda"] .icon {
            background-image: url(../images/small/CherrySoda.png);
        }

        &[data-item="Dagger"] .icon {
            background-image: url(../images/small/Dagger.png);
        }

        &[data-item="TheTreasure"] .icon {
            background-image: url(../images/small/TreasureChest.png);
        }
    }
}
