body {
    background-color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.game {
    outline: 0;
}

.game-ui-container {
    margin: 1em;
    display: flex;
    overflow: visible;
}

.grid-scroll {
    display: inline-block;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
