html, body {
    height: 100%;
}

body {
    background-color: black;
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.game {
    outline: 0;
    height: 100%;
    padding-top: 3em;

    button * {
        pointer-events: none;
    }
}

.game-ui-container {
    padding: 1em;
    display: flex;
    overflow: visible;
    position: relative;
    height: 100%;
}

.grid-scroll {
    display: inline-block;
}

.sidebar {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-left: 10px;

    .sidebar-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.screenreader {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
