html, body {
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    background-color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.game {
    outline: 0;
    height: 100%;
    padding-top: 3em;

    button * {
        pointer-events: none;
    }
}

.game-ui-container {
    padding: 1em;
    display: flex;
    overflow: visible;
    position: relative;
    height: 100%;
}

.viewport-container {
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;

    .message-container {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
    }
}

.grid-scroll {
    display: inline-block;
}

.sidebar {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-left: 10px;

    .sidebar-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.screenreader {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
