.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000033;
    padding: .5em;

    button {
        border: 0;
        background: steelblue;
        color: #ddd;
        padding: .2em;
        font-size: 1.5em;
        + button {
            margin-left: .2em;
        }
    }

    label {
        display: inline-block;
        vertical-align: top;
        color: #ddd;
        border: solid 1px steelblue;
        height: 23px;
        line-height: 1em;
    }
}
