.player-location-view {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;

    h2 {
        font-size: 1.5em;
        color: burlywood;
    }

    .portrait {
        vertical-align: top;
        display: inline-block;
        width: 7em;
        height: 7em;
        border: solid 1px #333;
        background-image: url(../images/small/ThisIsAThing.png);
        background-size: 100%;
    }
}
