@import '_theme-default.colors';

.theme-default .sidebar {
    .sidebar-subcontainer {
        font-size: 12px;
        padding: 7px;
        position: relative;
        background-color: $dark-red;

        h2 {
            position: absolute;
            font-size: 14px;
            top: -12px;
            line-height: 1em;
            padding: 2px 3px;
            left: 4px;
            color: $dark-red;
            border: solid 1px $dark-red;
        }

        > * {
            background-color: white;
        }

        + .sidebar-subcontainer {
            margin-top: 15px;
        }
    }
}
