@import '_theme-default.colors';

.theme-default .sidebar {
    .sidebar-subcontainer {
        font-size: 12px;
        padding: 7px;
        position: relative;
        background-color: $dark-red;

        h2 {
            position: absolute;
            font-size: 14px;
            left: 0;
            top: -18px;
            line-height: 1em;
            padding: 2px 3px;
            color: $dark-red;
            border: solid 7px $dark-red;
            border-bottom: 0;
        }

        > * {
            background-color: tan;
        }

        + .sidebar-subcontainer {
            margin-top: 28px;
        }
    }
}
